<div class="main">
  <div class="main-header">
    <div class="search">
      <input type="text" placeholder="Pesquisar" />
      <button class="btn-search">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </div>

  <div class="filter-wrapper">
    <p>Recommendation</p>
    <div class="filter">
      <button class="btn-filter">Data Scientist</button>
      <button class="btn-filter">Software Engineer</button>
      <button class="btn-filter">Frontend Developer</button>
      <button class="btn-filter">Ios Developer</button>
    </div>
  </div>

  <div class="sort">
    <p>Sort</p>
    <div class="sort-list">
      <select name="" id="">
        <option value="0">All</option>
        <option value="1">Newest Post</option>
        <option value="2">Oldest Post</option>
      </select>
    </div>
  </div>

  <app-job-listing></app-job-listing>
</div>
