.detail {
    position: fixed;
    width: 60%;
    min-width: 250px;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;

    &.active {
        display: block;

        .close-detail {
            display: block;
            cursor: pointer;
        }
    }

    .close-detail {
        display: none;
    }

    .detail-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       

        img {
            width: 50px;
            height: 50px;
        }

        .divider {
            width: 100%;
            height: 1px;
            background-color: #333;
            border: none;
            margin: 1rem 0;
        }

        .detail-desc {
            line-height: 1.5;
        }

        .detail-btn {
            display: flex;
            gap: 1rem;
            margin: 1rem 0;

            button {
                border: none;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                transition: all .3s;
                border: 1px solid transparent;

                &:hover {
                    background-color: transparent;
                    color: black;
                    border: 1px solid #333;

                }
            }

            .btn-apply {
                background-color: blue;
                color: #fff;
               
            }

            .btn-save {
                background-color: orange;
            }
        }
    }
}

@media (max-width: 880px) {

    .detail {
        width: 40%;
    }
}

@media (max-width: 700px) {
    .detail.active {
        display: block;
        width: 100%;
        z-index: 100;
        left: 0px;
        top: 0px;
        height: 100vh;
        transform: translate(0px, 0px);
    }

  
}

